body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;

    margin: 0;
    padding: 0;
}

.navbar {
    background: #33d6ff !important;
    border-bottom: 1.5px solid #000;
}


.nav-link {
    color: black !important;
    font-weight: bold;
    font-size: 18px; 
}

.navbar-brand {
    color: black; 
    font-size: 24px; 
    font-style: italic;
}

.container {
    margin-top: 20px;
}

.btn.btn-primary {
    background-color: #d8eea7;
    color: black;
    border: #d8eea7;
}

.my-2 .my-sm-0{
    /* background-color: #d8eea7; */
    color: black;
    border: 2px solid black;
    font-weight: bold;
}

.my-2 .my-sm-0:hover{
    background-color: #d8eea7;
    color: black;
    border: #d8eea7;
}
